.title{
  text-align: center;
  /* color: blueviolet; */
  text-transform: uppercase;
  padding: 1px;
  font-family: 'Raleway', cursive;
  font-weight: 100;
  position: relative;
  margin-top: 20px;
}
.red{
    color: red;
}


img{
  width: 500px;
}
.box{
  margin-top: 50px;
  display: flex;
  justify-content:space-around;
  margin-bottom: 50px;
}